.manage-products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.manage-products-title {
  margin: 0;
  font-size: 2.25rem !important;
  font-weight: 800 !important;
  letter-spacing: -0.025em;
  color: black;
}